<!DOCTYPE html>
<html lang="pt-BR" class="h-100" data-bs-theme="auto">

<head>
  <script src="assets/js/color-modes.js"></script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#712cf9">
  <link rel="icon" href="assets/favicons/ifce.ico" sizes="32x32" type="image/png">
  <link rel="icon" href="assets/favicons/ifce.ico" sizes="16x16" type="image/png">
  <link rel="icon" href="assets/favicons/ifce.ico">
  <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/pages.css">
  <link rel="stylesheet" href="css/register.css">
</head>

<body class="d-flex h-100 text-bg-dark">

  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto text-center">
      <div>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link fw-bold py-1 px-0" aria-current="page" href="home">Inicio</a>
          <a class="nav-link fw-bold py-1 px-0 active" href="register">Frequência</a>
          <a class="nav-link fw-bold py-1 px-0" href="#">Calendário</a>
        </nav>
      </div>
    </header>

    <main class="px-3">
      <div>
        <h2 class="text-center">Dados do Servidor</h2>
        <form id="register" class="row g-3" th:action="@{/frequency}" th:object="${data}" method="post">
          <div class="col-md-6">
            <label th:for="nome" class="form-label">Nome</label>
            <input type="text" th:field="*{nome}" class="form-control" id="inputNome" required="required">
          </div>
          <div class="col-md-6">
            <label th:for="matricula" class="form-label">Matrícula</label>
            <input type="number" th:field="*{matricula}" class="form-control" id="inputMatricula" required="required">
          </div>
          <div class="col-md-6">
            <label th:for="cargo" class="form-label">Cargo</label>
            <input type="text" th:field="*{cargo}" class="form-control" id="inputCargo" required="required">
          </div>
          <div class="col-md-6">
            <label th:for="funcao" class="form-label">Função</label>
            <input type="text" th:field="*{funcao}" class="form-control" id="inputFuncao">
          </div>
          <div class="col-md-6">
            <label th:for="lotacao" class="form-label">Lotação</label>
            <input type="text" th:field="*{lotacao}" class="form-control" id="inputLotacao" placeholder="Campus ..."
              required="required">
          </div>
          <div class="col-md-6">
            <label th:for="setor" class="form-label">Setor</label>
            <input type="text" th:field="*{setor}" class="form-control" id="inputLotacao" required="required">
          </div>
          <div class="col-md-6">
            <label th:for="mes" class="form-label">Mês</label>
            <select form="register" th:field="*{nome}" class="form-control" id="inputMes">
              <option th:value="0">Selecione o Mês de Referência</option>
              <option th:value="1">Janeiro</option>
              <option th:value="2">Fevereiro</option>
              <option th:value="3">Março</option>
              <option th:value="4">Abril</option>
              <option th:value="5">Maio</option>
              <option th:value="6">Junho</option>
              <option th:value="7">Julho</option>
              <option th:value="8">Agosto</option>
              <option th:value="9">Setembro</option>
              <option th:value="10">Outubro</option>
              <option th:value="11">Novembro</option>
              <option th:value="12">Dezembro</option>
            </select>
          </div>
          <div class="col-md-3">
            <label th:for="ano" class="form-label">Ano</label>
            <input type="number" th:field="*{mes}" class="form-control" id="inputAno" placeholder="20XX" required="required">
          </div>
          <div class="col-md-3">
            <label th:for="jornada" class="form-label">Jornada</label>
            <input type="number" th:field="*{jornada}" class="form-control" id="inputJornada" placeholder="Horas" required="required">
          </div>
          <div class="col-md-3">
            <label th:for="horarioEntrada" class="form-label">Entrada 1</label>
            <input type="time" th:field="*{horarioEntrada}" class="form-control" id="inputEntrada" required="required">
          </div>
          <div class="col-md-3">
            <label th:for="horarioSaida" class="form-label">Saída 1</label>
            <input type="time" th:field="*{horarioSaida}" class="form-control" id="inputSaida" required="required">
          </div>
          <div class="col-md-3">
            <label th:for="horarioEntrada" class="form-label">Entrada 2</label>
            <input type="time" th:field="*{horarioEntrada}" class="form-control" id="inputEntrada" required="required">
          </div>
          <div class="col-md-3">
            <label th:for="horarioSaida" class="form-label">Saída 2</label>
            <input type="time" th:field="*{horarioSaida}" class="form-control" id="inputSaida" required="required">
          </div>
          <div class="col-12">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" th:field="*{repetir}" id="checkRepetir">
              <label class="form-check-label" th:for="repetir">
                Repetir entrada e saída em todos os dias
              </label>
            </div>
          </div>
          <div class="col-12">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" th:field="*{aleatorio}" id="checkAleatorio">
              <label class="form-check-label" th:for="aleatorio">
                Criar horários aleatórios
              </label>
            </div>
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-light">Gerar Frequência</button>
          </div>
        </form>
      </div>
    </main>

    <footer class="mt-auto text-white-50 text-center">
      <p>Criado por <a href="https://github.com/joaoAaf/gerador_frequencia" class="text-white">João Anderson</a></p>
    </footer>
  </div>
  <script src="bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>